<?xml version="1.0" encoding="utf-8"?><!--
  Copyright 2016 Google Inc. All Rights Reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.cloud.android.speech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Speech"
        tools:ignore="GoogleAppIndexingWarning"
        android:excludeFromRecents="true"
        android:largeHeap="true">
        <activity android:name=".FirstPage" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".MainActivity" />-->
        <!--<activity android:name=".TestActivity" />-->

        <service android:name=".SpeechService" />

        <activity android:name=".RecordActivity" />
        <activity android:name=".BankActivity"></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="84f48e1fd1a4aee92ecfcd9c7ae40e5cd7a57ea3" />
    </application>

</manifest>